<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303559538310-j3g77jf37bmu00kq7brqbps0lvbrto0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303559538310-j3g77jf37bmu00kq7brqbps0lvbrto0r</string>
	<key>API_KEY</key>
	<string>AIzaSyB1UV0N5IhqQCsuy6QpTKo7ZQRhj5sd-qM</string>
	<key>GCM_SENDER_ID</key>
	<string>303559538310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internMobileApp</string>
	<key>PROJECT_ID</key>
	<string>intern-mobile-app-4220</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-mobile-app-4220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303559538310:ios:5529d955716ead7030c307</string>
</dict>
</plist>